.idea

# Build output
/target/
target/
pom.xml
/classes/
.calva/

# Clojure REPL and tooling files
.nrepl-port
.cpcache/
.clj-kondo/.cache/
.clj-kondo/
.lsp/.cache/

# Local database file
database.sqlite

# Log files
*.log

# Editor/IDE specific files
.vscode/
.idea/
*.iml
*~
#*#
.#*

# OS-specific files
.DS_Store
Thumbs.db